.black-big-heading {
    font-size: 15px;
    font-weight: 500;
}
#ACK{ background-image:url("/src/assets/images/loginwallpaper.jpg") ; background-repeat:no-repeat; background-position:center; background-size:cover; padding:40px;}