.lr-padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#SummaryDetails{ background-image:url("/src/assets/images/loginwallpaper.jpg") ; background-repeat:no-repeat; background-position:center; background-size:cover; padding:40px;}
